.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-style{
    background-color: violet;
    color: white;
    border: 3px solid blue;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
.card-style1{
    background-color: lightpink;
    color: white;
    border: 3px solid blue;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
.card-style2{
    background-color: orange;
    color: white;
    border: 3px solid blue;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
.card-style3{
    background-color: lightcoral;
    color: white;
    border: 3px solid blue;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.card-style4{
    background-color: lightseagreen;
    color: white;
    border: 3px solid blue;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.count-button{
    background-color: crimson;
    color: white;
    padding: 15px 25px;
    margin: 5px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
}


@media only screen and (min-width: 992px) {
    .grid-item{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
